.form__fieldset {
  margin-bottom: 32px;
  border: none;
  padding: 0;
}

.form__label {
  display: block;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.form__input {
  width: 100%;
  min-height: 60px;
  border-radius: 4px;
  box-sizing: border-box;
}

.form__input::placeholder {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 300px;
}

.form__button {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  min-height: 60px;
  border-radius: 4px;
  border: none;
  width: 100%;
  background: #2f80ed;
  color: #ffffff;
}

.form__button:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.form__checkbox {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  gap: 12px;
  margin-bottom: 120px;
  border: none;
}

.form__label--i-agree {
  margin-bottom: 0px;
}

.form__checkbox {
  min-width: 20px;
  min-height: 20px;
}

.form {
  max-width: 700px;
}
